<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<style>
    h1{
        color:cadetblue;
        border:1px solid green;
        display:inline;
        margin:0px 10px;
    }
</style>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
